body{
    text-align: center;
}
.tbl{
    width: 100%;
    &,
    & tr,
    & td{
        border: 1px solid rgb(6, 10, 12);
        border-collapse: collapse;
    }
    thead, 
    td:first-child{
        background-color: rgb(0, 52, 108);
        color: white;
    }
    tbody{
        & tr:nth-child(odd){
            background-color: rgb(255, 163, 228);
        }
        & tr:nth-child(even){
            background-color: rgb(255, 163, 228);
        }
    }
}
.tabl{
    width: 100%;
    &,
    & tr,
    & td{
        border: 1px solid rgb(190, 0, 0);
        border-collapse: collapse;
    }
    thead{
        border-bottom: 2px solid #790000;
    }
}
.table{
    width: 100%;
    &,
    & tr,
    & td{
        border: 1px solid rgb(6, 10, 12);
        border-collapse: collapse;
    }  
    thead{
        background-color: #790000;
        color: white;
    }
    tbody{
        background-color: #ff0000;
    }
}
.tablee{
    width: 100%;
    &,
    & tr,
    & td{
        border: 1px solid rgb(6, 10, 12);
        border-collapse: collapse;
    }
    thead{
        border-bottom: 2px solid #790000;
    }
    tbody{
        background-color: #ff0000;
        color: white;
    }
}
.tableee{
    width: 100%;
    &,
    & tr,
    & td{
        border: 1px solid rgb(6, 10, 12);
        border-collapse: collapse;
    }
    
    thead, 
    td:first-child{
        background-color: hsl(0, 0%, 100%);
        color: rgb(0, 0, 0);
    }
    tbody{
        background-color: yellow;
        color: rgb(0, 0, 0);
    }
    tfoot{
        background-color: #ffffff;
        color: rgb(0, 0, 0);
    }
}
.tableeee{
    width: 100%;
    &,
    & tr,
    & td{
        border: 1px solid rgb(6, 10, 12);
        border-collapse: collapse;
    }
    thead, 
    td:first-child{
        background-color: rgb(255, 255, 255);
        color: rgb(0, 0, 0);
    }
    tbody{
        & tr:nth-child(odd){
            background-color: gray;
        }
        & tr:nth-child(even){
            background-color: #ffffff;
        } 
    }
}
.tableeeee{
    width: 100%;
    &,
    & tr,
    & td{
        border: 1px solid rgb(6, 10, 12);
        border-collapse: collapse;
    }
    thead{
        border-bottom: 2px solid rgb(91, 91, 91);
    }
    tbody{
        & tr:nth-child(odd){
            background-color: gray;
        }
        & tr:nth-child(even){
            background-color: #ffffff;
        } 
    }
}
